.content1,
.content2,
.content3,
.content4 {
    position: absolute;
    width: 80%;
    height: 70%;
    left: 100px;
}

img {
    position: absolute;
    width: 98%;
    height: 490px;
    animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out {
    100% {
        width: 100%;
    }
}

p {
    font-size: 50px;
    position: absolute;
    left: 80px;
    top: 100px;
    color: black;
    text-shadow: 2px 2px 5px peru;
    ;
}

u {
    color: green;
}

.content1 {
    animation: A 12s linear infinite;
}

.content2 {
    animation: B 12s linear infinite;
}

.content3 {
    animation: C 12s linear infinite;
}

.content4 {
    animation: D 12s linear infinite;
}

@keyframes A {
    0% {
        visibility: visible;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes B {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes C {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes D {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}